<section class="offer has-bg-image">
    <div class="container">
      <div class="offer-card">
        <h2 class="title card-title">35% Off</h2>
        <p class="card-text">
          This is the main factor that sets us apart our competition and allows us deliver a specialist business
          consultancy service
        </p>
        <a href="{% url 'shop' %}" class="btn btn-secondary">
          <span class="span">Shop Now</span>

          <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
        </a>
      </div>
    </div>
  </section>